name: First GitHub Actions Workflow

on:
  push:

jobs:
  print-message:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "This is my first GitHub Actions Workflow"
